<div class="create-post-section">
    <label for="title-input">Title</label>
    <input type="text" name="title-input" value="{{post.title}}" id="title-input">
    <label for="post-text">Post</label>
    <input type="text" name="post-text" id="post-text" cols="30"  value="{{post.post}}" rows="10"></input>
    <button class="submit-post">Submit</button>
</div>
<script src="/js/updatePost.js"></script>

