<div class='input-section'>
  <div class='login-section'>
    <h1>Login</h1>
    <h3>Username</h3>
    <input class='login-username' type='text' name='username' />
    <h3>Password</h3>
    <input class='login-password' type='password' name="password" />
    <button class='submit-login'>Login</button>
  </div>
  <div class='signup-section login-section'>
    <h1>Signup</h1>
    <h3>Username</h3>
    <input class='signup-name' type='text' name='username' />
    <h3>Password</h3>
    <input class='signup-password' type='password' name="password" />
    <button class='submit-signup'>Signup</button>
  </div>
</div>
<script src='../../js/script.js'></script>