<div class='card'>
  <div class='car-header'>
    <h1 class='single-post-text'>Test Title</h1>
    <p class='single-post-text'>Posted by John on 5/2/23</p>
  </div>
  <div class='card-text'>
    <p class='single-post-text'>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste magnam
      aperiam, iusto eius minus aliquam neque. Omnis error minima corrupti aut,
      temporibus mollitia veritatis dolor commodi similique rem deserunt
      laborum?
    </p>
  </div>
</div>
<div class='comment-input-section'>
  <input class='comment-input' type='text' />
  <button>Comment</button>
</div>
<h3 style="text-decoration: underline;">Comments</h3>
<div class='comments-section'>
  <p style="font-weight: 800;">Posted by Jane Doe 3/4/23</p>

  <p class='comment'>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    Quibusdam nulla ratione excepturi, illum laudantium vitae, similique libero
    iste cum nobis iusto dignissimos quasi ex nisi natus? Blanditiis earum alias
    recusandae?</p>

</div>