<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap'
      rel='stylesheet'
    />
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css'
    />
    <title>Document</title>
    <link rel='stylesheet' href='/homepage/style.css' />
  </head>
  <body>
    <nav class='navbar-section'>
      <ul class='links'>
        <li><a href='#'>Home</a></li>
        <li><a href='#'>Dashboard</a></li>
        <li><a href='#'>Logout</a></li>
      </ul>
      <div class='logo'>The Tech Blog <i class='fa-solid fa-sim-card'></i></div>
    </nav>
    <main>
      <div class='post-section'>
        {{{body}}}
      </div>
    </main>
  </body>
</html>